.home-container {
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-actions {
  color: white !important;
}
.card-container {
  margin: (10rem/16);
}
.card-deck-container {
  margin-top: (20rem/16);
}

.pages {
  margin-top: (10rem/16);	
}

.icon {}

.icon:hover { 
  color: white;
}
